<div class="not-found-page">
  <div class="container text-center center">
    <div class="row">
      <div class="col">
        <div class="error-content-box">
          <h1 class="not-found-heading-1">404</h1>
          <h2 class="not-found-heading-2">Page Not Found</h2>
          <a href="/shop" class="not-found-link">
            <button class="not-found-btn">Return to Home Page</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
