<div class="container" style="padding-top: 90px;">
    <div class="row">
        <aside class="col-md-3">
            <h2>WELCOME</h2>

        </aside>
        <section class="main col-md-9">
            <article>
                <h2>About</h2>
                <p>
                    I am Ronald Roldan, I am from the Philippines but I have been in Canada for almost 10 years.
                </p>
                <p>
                    I have a degree in Psychology, a diploma in Marketing, and now I am working towards a Degree in software development.
                </p>
                <p>
                    I enjoy music, movies, shows, and video games.
                </p>
                <p>
                    My goal in life is simple: to be happy.
                </p>
                <p>
                    I have a puppy, she is a mixed breed of a Bernese Mountain Dog and a Poodle. Her name is Lyka, from Lycanthrope, meaning werewolf.
                </p>
            </article>
        </section>
    </div>
</div>
