<div class="container" style="padding-top: 90px;">
<form method="post" action="/categories/add">
    <fieldset>
      <h2>Add Category</h2>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="category">Category:</label>
            <input class="form-control" type="text" name="category" id="category"/>
          </div>
        </div>
      </div>
    </fieldset>
    <hr />
    <input type="submit" class="btn btn-primary pull-right" value="Add Category" /><br /><br /><br />
  </form>
</div>
